/*.a
/*.autosave
/*.o
/*.pyc
/*.save
/*.so
/*.tmp
/*.user
/*.user.*
/*.zip
/*\#
/.*sw*
/.\#*
/.cproject
/.project
/.scannerwork
/.settings
/QtC-*
/\#*
/\#*\#
doc/#*
doc/#*\#
doc/*.a
doc/*.autosave
doc/*.o
doc/*.pyc
doc/*.save
doc/*.so
doc/*.tmp
doc/*.user
doc/*.user.*
doc/*.zip
doc/*\#
doc/.*sw*
doc/.\#*
doc/.cproject
doc/.project
doc/.scannerwork
doc/.settings
doc/QtC-*
doc/doxygen.tag
doc/images/#*
doc/images/#*\#
doc/images/*.a
doc/images/*.autosave
doc/images/*.o
doc/images/*.pyc
doc/images/*.save
doc/images/*.so
doc/images/*.tmp
doc/images/*.user
doc/images/*.user.*
doc/images/*.zip
doc/images/*\#
doc/images/.*sw*
doc/images/.\#*
doc/images/.cproject
doc/images/.project
doc/images/.scannerwork
doc/images/.settings
doc/images/QtC-*
doc/images/doxygen.tag
/doxygen.tag
src/#*
src/#*\#
src/*.a
src/*.autosave
src/*.o
src/*.pyc
src/*.save
src/*.so
src/*.tmp
src/*.user
src/*.user.*
src/*.zip
src/*\#
src/.*sw*
src/.\#*
src/.cproject
src/.project
src/.scannerwork
src/.settings
src/QtC-*
src/doxygen.tag
src/main/#*
src/main/#*\#
src/main/*.a
src/main/*.autosave
src/main/*.o
src/main/*.pyc
src/main/*.save
src/main/*.so
src/main/*.tmp
src/main/*.user
src/main/*.user.*
src/main/*.zip
src/main/*\#
src/main/.*sw*
src/main/.\#*
src/main/.cproject
src/main/.project
src/main/.scannerwork
src/main/.settings
src/main/QtC-*
src/main/c++/#*
src/main/c++/#*\#
src/main/c++/*.a
src/main/c++/*.autosave
src/main/c++/*.o
src/main/c++/*.pyc
src/main/c++/*.save
src/main/c++/*.so
src/main/c++/*.tmp
src/main/c++/*.user
src/main/c++/*.user.*
src/main/c++/*.zip
src/main/c++/*\#
src/main/c++/.*sw*
src/main/c++/.\#*
src/main/c++/.cproject
src/main/c++/.project
src/main/c++/.scannerwork
src/main/c++/.settings
src/main/c++/QtC-*
src/main/c++/doc/#*
src/main/c++/doc/#*\#
src/main/c++/doc/*.a
src/main/c++/doc/*.autosave
src/main/c++/doc/*.o
src/main/c++/doc/*.pyc
src/main/c++/doc/*.save
src/main/c++/doc/*.so
src/main/c++/doc/*.tmp
src/main/c++/doc/*.user
src/main/c++/doc/*.user.*
src/main/c++/doc/*.zip
src/main/c++/doc/*\#
src/main/c++/doc/.*sw*
src/main/c++/doc/.\#*
src/main/c++/doc/.cproject
src/main/c++/doc/.project
src/main/c++/doc/.scannerwork
src/main/c++/doc/.settings
src/main/c++/doc/QtC-*
src/main/c++/doc/doxygen.tag
src/main/c++/doxygen.tag
src/main/c++/examples/#*
src/main/c++/examples/#*\#
src/main/c++/examples/*.a
src/main/c++/examples/*.autosave
src/main/c++/examples/*.o
src/main/c++/examples/*.pyc
src/main/c++/examples/*.save
src/main/c++/examples/*.so
src/main/c++/examples/*.tmp
src/main/c++/examples/*.user
src/main/c++/examples/*.user.*
src/main/c++/examples/*.zip
src/main/c++/examples/*\#
src/main/c++/examples/.*sw*
src/main/c++/examples/.\#*
src/main/c++/examples/.cproject
src/main/c++/examples/.project
src/main/c++/examples/.scannerwork
src/main/c++/examples/.settings
src/main/c++/examples/QtC-*
src/main/c++/examples/doxygen.tag
src/main/c++/examples/exampleDriver/#*
src/main/c++/examples/exampleDriver/#*\#
src/main/c++/examples/exampleDriver/*.a
src/main/c++/examples/exampleDriver/*.autosave
src/main/c++/examples/exampleDriver/*.o
src/main/c++/examples/exampleDriver/*.pyc
src/main/c++/examples/exampleDriver/*.save
src/main/c++/examples/exampleDriver/*.so
src/main/c++/examples/exampleDriver/*.tmp
src/main/c++/examples/exampleDriver/*.user
src/main/c++/examples/exampleDriver/*.user.*
src/main/c++/examples/exampleDriver/*.zip
src/main/c++/examples/exampleDriver/*\#
src/main/c++/examples/exampleDriver/.*sw*
src/main/c++/examples/exampleDriver/.\#*
src/main/c++/examples/exampleDriver/.cproject
src/main/c++/examples/exampleDriver/.project
src/main/c++/examples/exampleDriver/.scannerwork
src/main/c++/examples/exampleDriver/.settings
src/main/c++/examples/exampleDriver/QtC-*
src/main/c++/examples/exampleDriver/doxygen.tag
src/main/c++/examples/exampleDriver/ndsDrv/#*
src/main/c++/examples/exampleDriver/ndsDrv/#*\#
src/main/c++/examples/exampleDriver/ndsDrv/*.a
src/main/c++/examples/exampleDriver/ndsDrv/*.autosave
src/main/c++/examples/exampleDriver/ndsDrv/*.o
src/main/c++/examples/exampleDriver/ndsDrv/*.pyc
src/main/c++/examples/exampleDriver/ndsDrv/*.save
src/main/c++/examples/exampleDriver/ndsDrv/*.so
src/main/c++/examples/exampleDriver/ndsDrv/*.tmp
src/main/c++/examples/exampleDriver/ndsDrv/*.user
src/main/c++/examples/exampleDriver/ndsDrv/*.user.*
src/main/c++/examples/exampleDriver/ndsDrv/*.zip
src/main/c++/examples/exampleDriver/ndsDrv/*\#
src/main/c++/examples/exampleDriver/ndsDrv/.*sw*
src/main/c++/examples/exampleDriver/ndsDrv/.\#*
src/main/c++/examples/exampleDriver/ndsDrv/.cproject
src/main/c++/examples/exampleDriver/ndsDrv/.project
src/main/c++/examples/exampleDriver/ndsDrv/.scannerwork
src/main/c++/examples/exampleDriver/ndsDrv/.settings
src/main/c++/examples/exampleDriver/ndsDrv/QtC-*
src/main/c++/examples/exampleDriver/ndsDrv/doxygen.tag
src/main/c++/examples/exampleDriver/simDev/#*
src/main/c++/examples/exampleDriver/simDev/#*\#
src/main/c++/examples/exampleDriver/simDev/*.a
src/main/c++/examples/exampleDriver/simDev/*.autosave
src/main/c++/examples/exampleDriver/simDev/*.o
src/main/c++/examples/exampleDriver/simDev/*.pyc
src/main/c++/examples/exampleDriver/simDev/*.save
src/main/c++/examples/exampleDriver/simDev/*.so
src/main/c++/examples/exampleDriver/simDev/*.tmp
src/main/c++/examples/exampleDriver/simDev/*.user
src/main/c++/examples/exampleDriver/simDev/*.user.*
src/main/c++/examples/exampleDriver/simDev/*.zip
src/main/c++/examples/exampleDriver/simDev/*\#
src/main/c++/examples/exampleDriver/simDev/.*sw*
src/main/c++/examples/exampleDriver/simDev/.\#*
src/main/c++/examples/exampleDriver/simDev/.cproject
src/main/c++/examples/exampleDriver/simDev/.project
src/main/c++/examples/exampleDriver/simDev/.scannerwork
src/main/c++/examples/exampleDriver/simDev/.settings
src/main/c++/examples/exampleDriver/simDev/QtC-*
src/main/c++/examples/exampleDriver/simDev/doxygen.tag
src/main/c++/examples/nds-example/#*
src/main/c++/examples/nds-example/#*\#
src/main/c++/examples/nds-example/*.a
src/main/c++/examples/nds-example/*.autosave
src/main/c++/examples/nds-example/*.o
src/main/c++/examples/nds-example/*.pyc
src/main/c++/examples/nds-example/*.save
src/main/c++/examples/nds-example/*.so
src/main/c++/examples/nds-example/*.tmp
src/main/c++/examples/nds-example/*.user
src/main/c++/examples/nds-example/*.user.*
src/main/c++/examples/nds-example/*.zip
src/main/c++/examples/nds-example/*\#
src/main/c++/examples/nds-example/.*sw*
src/main/c++/examples/nds-example/.\#*
src/main/c++/examples/nds-example/.cproject
src/main/c++/examples/nds-example/.project
src/main/c++/examples/nds-example/.scannerwork
src/main/c++/examples/nds-example/.settings
src/main/c++/examples/nds-example/QtC-*
src/main/c++/examples/nds-example/doxygen.tag
src/main/c++/examples/nodesTest/#*
src/main/c++/examples/nodesTest/#*\#
src/main/c++/examples/nodesTest/*.a
src/main/c++/examples/nodesTest/*.autosave
src/main/c++/examples/nodesTest/*.o
src/main/c++/examples/nodesTest/*.pyc
src/main/c++/examples/nodesTest/*.save
src/main/c++/examples/nodesTest/*.so
src/main/c++/examples/nodesTest/*.tmp
src/main/c++/examples/nodesTest/*.user
src/main/c++/examples/nodesTest/*.user.*
src/main/c++/examples/nodesTest/*.zip
src/main/c++/examples/nodesTest/*\#
src/main/c++/examples/nodesTest/.*sw*
src/main/c++/examples/nodesTest/.\#*
src/main/c++/examples/nodesTest/.cproject
src/main/c++/examples/nodesTest/.project
src/main/c++/examples/nodesTest/.scannerwork
src/main/c++/examples/nodesTest/.settings
src/main/c++/examples/nodesTest/QtC-*
src/main/c++/examples/nodesTest/doxygen.tag
src/main/c++/include/#*
src/main/c++/include/#*\#
src/main/c++/include/*.a
src/main/c++/include/*.autosave
src/main/c++/include/*.o
src/main/c++/include/*.pyc
src/main/c++/include/*.save
src/main/c++/include/*.so
src/main/c++/include/*.tmp
src/main/c++/include/*.user
src/main/c++/include/*.user.*
src/main/c++/include/*.zip
src/main/c++/include/*\#
src/main/c++/include/.*sw*
src/main/c++/include/.\#*
src/main/c++/include/.cproject
src/main/c++/include/.project
src/main/c++/include/.scannerwork
src/main/c++/include/.settings
src/main/c++/include/QtC-*
src/main/c++/include/doxygen.tag
src/main/c++/include/nds3/#*
src/main/c++/include/nds3/#*\#
src/main/c++/include/nds3/*.a
src/main/c++/include/nds3/*.autosave
src/main/c++/include/nds3/*.o
src/main/c++/include/nds3/*.pyc
src/main/c++/include/nds3/*.save
src/main/c++/include/nds3/*.so
src/main/c++/include/nds3/*.tmp
src/main/c++/include/nds3/*.user
src/main/c++/include/nds3/*.user.*
src/main/c++/include/nds3/*.zip
src/main/c++/include/nds3/*\#
src/main/c++/include/nds3/.*sw*
src/main/c++/include/nds3/.\#*
src/main/c++/include/nds3/.cproject
src/main/c++/include/nds3/.project
src/main/c++/include/nds3/.scannerwork
src/main/c++/include/nds3/.settings
src/main/c++/include/nds3/QtC-*
src/main/c++/include/nds3/doxygen.tag
src/main/c++/include/nds3/impl/#*
src/main/c++/include/nds3/impl/#*\#
src/main/c++/include/nds3/impl/*.a
src/main/c++/include/nds3/impl/*.autosave
src/main/c++/include/nds3/impl/*.o
src/main/c++/include/nds3/impl/*.pyc
src/main/c++/include/nds3/impl/*.save
src/main/c++/include/nds3/impl/*.so
src/main/c++/include/nds3/impl/*.tmp
src/main/c++/include/nds3/impl/*.user
src/main/c++/include/nds3/impl/*.user.*
src/main/c++/include/nds3/impl/*.zip
src/main/c++/include/nds3/impl/*\#
src/main/c++/include/nds3/impl/.*sw*
src/main/c++/include/nds3/impl/.\#*
src/main/c++/include/nds3/impl/.cproject
src/main/c++/include/nds3/impl/.project
src/main/c++/include/nds3/impl/.scannerwork
src/main/c++/include/nds3/impl/.settings
src/main/c++/include/nds3/impl/QtC-*
src/main/c++/include/nds3/impl/doxygen.tag
src/main/c++/nds/#*
src/main/c++/nds/#*\#
src/main/c++/nds/*.a
src/main/c++/nds/*.autosave
src/main/c++/nds/*.o
src/main/c++/nds/*.pyc
src/main/c++/nds/*.save
src/main/c++/nds/*.so
src/main/c++/nds/*.tmp
src/main/c++/nds/*.user
src/main/c++/nds/*.user.*
src/main/c++/nds/*.zip
src/main/c++/nds/*\#
src/main/c++/nds/.*sw*
src/main/c++/nds/.\#*
src/main/c++/nds/.cproject
src/main/c++/nds/.project
src/main/c++/nds/.scannerwork
src/main/c++/nds/.settings
src/main/c++/nds/QtC-*
src/main/c++/nds/doxygen.tag
src/main/doxygen.tag
src/test/#*
src/test/#*\#
src/test/*.a
src/test/*.autosave
src/test/*.o
src/test/*.pyc
src/test/*.save
src/test/*.so
src/test/*.tmp
src/test/*.user
src/test/*.user.*
src/test/*.zip
src/test/*\#
src/test/.*sw*
src/test/.\#*
src/test/.cproject
src/test/.project
src/test/.scannerwork
src/test/.settings
src/test/QtC-*
src/test/c++/#*
src/test/c++/#*\#
src/test/c++/*.a
src/test/c++/*.autosave
src/test/c++/*.o
src/test/c++/*.pyc
src/test/c++/*.save
src/test/c++/*.so
src/test/c++/*.tmp
src/test/c++/*.user
src/test/c++/*.user.*
src/test/c++/*.zip
src/test/c++/*\#
src/test/c++/.*sw*
src/test/c++/.\#*
src/test/c++/.cproject
src/test/c++/.project
src/test/c++/.scannerwork
src/test/c++/.settings
src/test/c++/QtC-*
src/test/c++/doxygen.tag
src/test/c++/include/#*
src/test/c++/include/#*\#
src/test/c++/include/*.a
src/test/c++/include/*.autosave
src/test/c++/include/*.o
src/test/c++/include/*.pyc
src/test/c++/include/*.save
src/test/c++/include/*.so
src/test/c++/include/*.tmp
src/test/c++/include/*.user
src/test/c++/include/*.user.*
src/test/c++/include/*.zip
src/test/c++/include/*\#
src/test/c++/include/.*sw*
src/test/c++/include/.\#*
src/test/c++/include/.cproject
src/test/c++/include/.project
src/test/c++/include/.scannerwork
src/test/c++/include/.settings
src/test/c++/include/QtC-*
src/test/c++/include/doxygen.tag
src/test/c++/include/nds3/#*
src/test/c++/include/nds3/#*\#
src/test/c++/include/nds3/*.a
src/test/c++/include/nds3/*.autosave
src/test/c++/include/nds3/*.o
src/test/c++/include/nds3/*.pyc
src/test/c++/include/nds3/*.save
src/test/c++/include/nds3/*.so
src/test/c++/include/nds3/*.tmp
src/test/c++/include/nds3/*.user
src/test/c++/include/nds3/*.user.*
src/test/c++/include/nds3/*.zip
src/test/c++/include/nds3/*\#
src/test/c++/include/nds3/.*sw*
src/test/c++/include/nds3/.\#*
src/test/c++/include/nds3/.cproject
src/test/c++/include/nds3/.project
src/test/c++/include/nds3/.scannerwork
src/test/c++/include/nds3/.settings
src/test/c++/include/nds3/QtC-*
src/test/c++/include/nds3/doxygen.tag
src/test/c++/nds-example/#*
src/test/c++/nds-example/#*\#
src/test/c++/nds-example/*.a
src/test/c++/nds-example/*.autosave
src/test/c++/nds-example/*.o
src/test/c++/nds-example/*.pyc
src/test/c++/nds-example/*.save
src/test/c++/nds-example/*.so
src/test/c++/nds-example/*.tmp
src/test/c++/nds-example/*.user
src/test/c++/nds-example/*.user.*
src/test/c++/nds-example/*.zip
src/test/c++/nds-example/*\#
src/test/c++/nds-example/.*sw*
src/test/c++/nds-example/.\#*
src/test/c++/nds-example/.cproject
src/test/c++/nds-example/.project
src/test/c++/nds-example/.scannerwork
src/test/c++/nds-example/.settings
src/test/c++/nds-example/QtC-*
src/test/c++/nds-example/doxygen.tag
src/test/c++/nds/#*
src/test/c++/nds/#*\#
src/test/c++/nds/*.a
src/test/c++/nds/*.autosave
src/test/c++/nds/*.o
src/test/c++/nds/*.pyc
src/test/c++/nds/*.save
src/test/c++/nds/*.so
src/test/c++/nds/*.tmp
src/test/c++/nds/*.user
src/test/c++/nds/*.user.*
src/test/c++/nds/*.zip
src/test/c++/nds/*\#
src/test/c++/nds/.*sw*
src/test/c++/nds/.\#*
src/test/c++/nds/.cproject
src/test/c++/nds/.project
src/test/c++/nds/.scannerwork
src/test/c++/nds/.settings
src/test/c++/nds/QtC-*
src/test/c++/nds/doxygen.tag
src/test/doxygen.tag
/target
